<mat-toolbar color="primary">
  <mat-toolbar-row><span>Angular Lab</span></mat-toolbar-row>
</mat-toolbar>

<nav
  mat-tab-nav-bar
  mat-align-tabs="center"
  color="accent"
  backgroundColor="primary"
  routerLinkActive="active"
>
  <a
    mat-tab-link
    routerLink="/home"
    routerLinkActive
    #horl="routerLinkActive"
    mat-tab-link
    [active]="horl.isActive"
    >Home</a
  >
  <a
    mat-tab-link
    routerLink="/dashboard"
    routerLinkActive
    #darl="routerLinkActive"
    mat-tab-link
    [active]="darl.isActive"
    *ngIf="isLogged()"
    >Dashboard</a
  >
  <a
    mat-tab-link
    routerLink="/galery"
    routerLinkActive
    #garl="routerLinkActive"
    mat-tab-link
    [active]="garl.isActive"
    >Galery</a
  >
  <a
    mat-tab-link
    routerLink="/login"
    routerLinkActive
    #lorl="routerLinkActive"
    [active]="lorl.isActive"
    *ngIf="!isLogged()"
    >Login</a
  >
  <a
    mat-tab-link
    routerLink="/crud"
    routerLinkActive
    #crrl="routerLinkActive"
    mat-tab-link
    [active]="crrl.isActive"
    >Crud</a
  >
  <a
    mat-tab-link
    routerLink="/profile"
    routerLinkActive
    #prrl="routerLinkActive"
    mat-tab-link
    [active]="prrl.isActive"
    >Profile</a
  >
  <a
    mat-tab-link
    routerLink="/about"
    routerLinkActive
    #abrl="routerLinkActive"
    [active]="abrl.isActive"
    >About</a
  >
</nav>
