<mat-toolbar color="primary">
  <mat-toolbar-row class="header-row"
    ><span>Angular Lab</span>
    <div class="logout">
      <button
        *ngIf="isLogged()"
        (click)="logout()"
        mat-icon-button
        color="white"
        aria-label="Logout"
      >
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<nav
  mat-tab-nav-bar
  mat-align-tabs="center"
  color="accent"
  backgroundColor="primary"
  routerLinkActive="active"
>
  <a
    mat-tab-link
    routerLink="/home"
    routerLinkActive
    #horl="routerLinkActive"
    mat-tab-link
    [active]="horl.isActive"
    >Home</a
  >
  <a
    mat-tab-link
    routerLink="/dashboard"
    routerLinkActive
    #darl="routerLinkActive"
    mat-tab-link
    [active]="darl.isActive"
    *ngIf="isLogged()"
    >Dashboard</a
  >
  <a
    mat-tab-link
    routerLink="/galery"
    routerLinkActive
    #garl="routerLinkActive"
    mat-tab-link
    [active]="garl.isActive"
    *ngIf="isLogged()"
    >Galery</a
  >
  <a
    mat-tab-link
    routerLink="/login"
    routerLinkActive
    #lorl="routerLinkActive"
    [active]="lorl.isActive"
    *ngIf="!isLogged()"
    >Login</a
  >
  <a
    mat-tab-link
    routerLink="/crud"
    routerLinkActive
    #crrl="routerLinkActive"
    mat-tab-link
    [active]="crrl.isActive"
    *ngIf="isLogged()"
    >Crud</a
  >
  <a
    mat-tab-link
    routerLink="/profile"
    routerLinkActive
    #prrl="routerLinkActive"
    mat-tab-link
    [active]="prrl.isActive"
    *ngIf="isLogged()"
    >Profile</a
  >
  <a
    mat-tab-link
    routerLink="/about"
    routerLinkActive
    #abrl="routerLinkActive"
    [active]="abrl.isActive"
    >About</a
  >
</nav>
