.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer-basic .copyright {
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
